@model Examino.Models.Entities.UserAnswer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAnswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question.QuestionLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.QuestionLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserQuiz.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserQuiz.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUserAnswer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUserAnswer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Development)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Development)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
