@model Examino.Models.Entities.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quiz.ApplicationUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quiz.ApplicationUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionLabel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionLabel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SolutionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SolutionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
